.home-bag{
  background-image: url(./home-bag.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  margin-bottom: 0;
}
.home_text {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.home_p {
  color: #222;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0;
}
.home-img {
  width: 100%;
}
.home-para {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-bottom: 1rem;
}
.home-btn-two {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 12px 30px;
  border: none;
  color: #57a7d2;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;

}
.btn-icon{

}
.home-btn-two:hover {
  background-color: rgb(55, 109, 148);
  transition: 0.5s;
  color: #fff;
}
.home_icon {
  margin-right: 1rem;
}
/* Media Quires start here */
@media screen and (max-width: 1101px) {
 
  .home-img {
    width: 80%;
    padding-left: 4rem;
  }
  .home_text {
    color: #57a7d2;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  .home_p {
    color: #222;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 3rem;
  }
}
@media screen and (max-width: 554px) {
  .home-btn-one {
    padding: 10px 25px;
    margin-right: 3rem;
  }
  .home-btn-two {
    padding: 12px 25px;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 463px) {
  .mobile-align{
    text-align: center;
    height: 100%;
    padding-bottom: 10rem;
  }
  .home_text {
    color: #fff;
  }
  .home_p{
    font-size: 2rem;
    line-height: 4rem;
  }
  .home-img{
    display: none;
  }
  .mobile-h-align{
    display: flex;
    justify-content: center;
  }
  .home-btn-one {
    padding: 5px 15px;
    margin-right: 2rem;
  }
  .home-btn-two {
    padding: 1rem 2rem;
   
  }
}
/* video css start here */

