.footer_root {
  background-color: #edf2f7;
}

.flex_wrap{
    flex-wrap: wrap;
}

.footer_container {
  display: flex;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  padding: 6rem 0;
  overflow-x: hidden;
}
.footer_email {
  width: 250px;
  border: 2px solid #c0dbea;
  padding: 8.5px 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer_email:focus {
  outline: 2px solid #c0dbea;
}
.footer_btn {
  padding: 8px 30px;
  background-color: #2a7cc7;
  color: #fff;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1rem;
}
.footer_line {
  border: 2px solid #2a7cc7;
  width: 80%;
  align-items: center;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 1rem;
  margin: 0 auto;
}

.footer-text-h2 {
  color: #2a7cc7;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 660;
}
.span-t {
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  background-color: #2a7cc7;
  padding: 0 0.6rem;
  border-radius: 5px;
}
.footer-p-one {
  font-weight: bold;
  font-size: 1rem;
}
.footer-p-two {
  font-size: 1rem;
}
.email-p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-heding-two {
  color: #2a7cc7;
  font-size: 1.8rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
.footer-text-list {
  line-height: 1.5rem;
  padding-left: 10px;
}
.footer-heding-three {
  color: #2a7cc7;
  font-size: 1.8rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
.footer_last {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.footer_last-item {
  display: flex;
  padding-bottom: 1rem;
}
.footer-icon {
  color: #2a7cc7;
}

.split {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.last-p {
  font-family: "Poppins", sans-serif;
  font-weight: 580;
}
.footer-icon-img {
  width: 8%;
}
.footer-icon-last {
  color: #2a7cc7;
  border-radius: 50px;
  cursor: pointer;
}

.copyright {
  background-color: #2a7cc7;
  margin-top: 1rem;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.footer_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.footer_text_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.footer-split {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_align {
  display: flex;
  justify-content: center;
}

/* Media Quires start here */
@media screen and (max-width: 1101px) {
  .footer_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer_line {
    display: none;
  }
}
@media screen and (max-width: 965px) {
  .footer_line {
    display: none;
  }
  .footer_text {
    text-align: center;
    flex-direction: row;
  }
  .footer_text_2 {
    text-align: center;
  }
  .row-direction {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 81%;
    flex-wrap: wrap;
  }
  .footer-heding-three {
    text-align: center;
  }
}
@media screen and (max-width: 1101px) {
  .footer-copyright {
    display: flex;
    flex-wrap: wrap;
  }
}
